<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tu.demo_s_mp.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tu.demo_s_mp.entity.User">
        <id column="userId" property="userId" />
        <result column="username" property="username" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="phoneNumber" property="phoneNumber" />
    </resultMap>

    <select id="getUsersOrderById" resultType="com.tu.demo_s_mp.entity.User">
        SELECT userId,username,sex,age,phoneNumber FROM `user` ORDER BY userId;
    </select>

    <select id="getUserCount" resultType="java.lang.Integer">
        SELECT count(*) FROM  user WHERE  age=14444
    </select>

    <insert id="registerUser" parameterType="com.tu.demo_s_mp.entity.User">
        INSERT INTO user(username,sex,age,phoneNumber) values(#{username},#{sex},#{age},#{phoneNumber})
    </insert>


</mapper>
